RANDFILE        = $ENV::home/.rnd

[ ca ]
default_ca = CA_default

[ CA_default ]
dir                     = $ENV::ca_home
database                = $ENV::database
unique_subject          = yes
serial                  = $ENV::serial
default_md              = sha256
private_key             = $ENV::ca_key
certificate             = $ENV::ca_crt

default_days            = 3650
new_certs_dir           = $ENV::certs_dir
policy                  = policy
copy_extensions         = none

name_opt                = ca_default
cert_opt                = ca_default,no_validity,no_extensions

;default_crl_days        = ??

[ policy ]
commonName = supplied

[ ca_extensions ]
basicConstraints        = CA:TRUE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always

[ server_extensions ]
basicConstraints        = CA:FALSE
keyUsage                = digitalSignature,keyAgreement
extendedKeyUsage        = serverAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always

[ cert_extensions ]
basicConstraints        = CA:FALSE
keyUsage                = digitalSignature,keyAgreement
extendedKeyUsage        = clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always


[ req ]
default_md            = sha256
string_mask           = utf8only
utf8                  = yes
distinguished_name    = no_distinguished_name
prompt                = yes

[ no_distinguished_name ]
commonName = Common Name
